# تجاهل ملفات بايثون المؤقتة
__pycache__/
*.py[cod]

# تجاهل البيئة الافتراضية لو عندك
venv/
.env

# تجاهل ملفات النظام
.DS_Store
Thumbs.db

# تجاهل الداتا (اختياري لو مش عايز ترفع الـ CSV عشان الحجم)
data/*.csv